.footer{
    background-color: #3A2C1E ;
    color: #F5F5F5;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    z-index: 2;
}

.footer .container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 5px 0;
    font-size: 1rem;
}

@media (max-width: 768px){
    .footer {
        padding: 15px 0;
    }
    .footer p {
        font-size: 0,9rem;
    }
}