.secao_pedidos{
    background-color: #5C4033;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}
.body{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #FFFFFF;
    display:flex;
    justify-content: center;
    flex-flow: column !important;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0.2px 0.2px 15px #000000;
}

.body h1{
    text-align: center;
    font-size: 3rem !important;
    font-family: 'Brush Script MT',fantasy;
    color: #D4AF37;
}

.form{
    height: 400px;
    width: 80%;
    display: flex;
    flex-flow: column !important;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.box_bados_user{
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box_bados_user input{
    margin-top: 0.9rem;
    background: transparent;
    border: 3px #722F37 solid;
    border-radius: 10px;
    outline: none;
}
.box_bados_user input::placeholder{
    color: #5C4033;
}

.box_Categorias{
    display: flex;
    flex-flow:row wrap;
    border-top: 2px #722F37 solid;
    border-bottom: 2px #722F37 solid;
}

.Notinha{
    margin-top:20px;
}
.Notinha h2{
    text-align: center;
    color: #000000;
}

.box_Categorias .button_pedidos{
    margin: 10px;
}
.form button{
    color: #FFFFFF;
    border-radius: 10px;
    border: 3px #722F37 solid;
    background-color: #722F37;
}
.form button:hover{
    color: #FFFFFF;
    border-radius: 10px;
    border: 3px #D4AF37 solid;
    background-color: #D4AF37;
}

.modal-header{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.modal-footer{
    display: flex;
    justify-content: center;
}
.modal-footer .btn-primary{
    color: #FFFFFF;
    border-radius: 10px;
    border: 3px #722F37 solid;
    background-color: #722F37;
    margin-left: 20px;
}
.modal-footer .btn-primary:hover{
    color: #000000;
    border-radius: 10px;
    border: 3px #D4AF37 solid;
    background-color: #D4AF37;
}
.modal-title{
    text-align: center;
    color: #5C4033;
}

.Box_produto{
    display: flex;
    flex-flow: column nowrap;
}
.Box_quantidade{
    display: flex;
    flex-flow: column nowrap;
}
.Box_quantidade label{
    font-weight: bolder;
    color: #000000;
}
.Box_produto label{
    font-weight: bolder;
    color: #000000;
}
.Box_quantidade input{
    border-radius: 5px;
    border: 2px solid #5C4033;
}
.Box_produto select{
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid #5C4033;
}